@font-face {
    font-family: 'brush';
    src: url('../fonts/brush.woff') format('woff');
}

$red: #e4042b;
$grey: #666;
$darkBlue: #0f272f;
$darkRed: #301015;
$lightGrey: #e8e8e8;
$darkGrey: #c3c3c3;
$h2Size: 3rem;
$h2Margin: 6rem;

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: arial, sans-serif;
    font-size: 10px;
}

body {
    position: relative;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

// LADDER STYLES

body.winnersLadder {
    background: linear-gradient(45deg, $darkRed 0%, $darkBlue 100%);
}

.winnersLadder {

    h1,
    h2,
    h3 {
        text-transform: uppercase;
    }

    h1 {
        color: #fff;
        font-size: 5.5rem;
        text-align: center;
        margin: 6rem;
    }

    h2 {
        font-size: $h2Size;
        color: $red;
        text-align: center;
    }

    h3 {
        text-align: center;
        font-size: 2rem;
        font-weight: 900;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 1.4rem;
        font-weight: 900;
        width: 50%;
        float: left;
    }
}


.winnersLadder {

    .quarterFinals h2,
    .final h2 {
        margin: $h2Margin;
    }
}

.wrapper {
    min-width: 1024px;
    max-width: 1920px;
    margin: 0 auto;
}

.classHeader {
    float: left;
    width: calc(100% / 4);
}

.poolLadder {
    margin: 4rem 16rem;
}

.defeat {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .4;
}

.poolElement,
.quarterElement,
.semiElement,
.finalElement {
    width: calc(100% / 4);
    float: left;
    padding: 2rem;
    text-align: center;
    position: relative;
}



.poolElement {
    .flag {
        background-image: url(../images/aus.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    &:not(:nth-last-child(1)):not(:nth-last-child(2)):not(:nth-last-child(3)):not(:nth-last-child(4)) {
        .elementWrapper {
            position: relative;

            &::after {
                content: "";
                display: block;
                width: .2rem;
                height: 4rem;
                background-color: $red;
                position: absolute;
                bottom: -4rem;
                left: calc(50% - .1rem);
            }
        }
    }

    &:nth-last-child(1),
    &:nth-last-child(2),
    &:nth-last-child(3),
    &:nth-last-child(4) {
        .elementWrapper {
            position: relative;

            &::after {
                content: "";
                display: block;
                width: .2rem;
                height: calc(#{$h2Size} + #{$h2Margin  * 2} + 4rem + 4px);
                background-color: $red;
                position: absolute;
                bottom: calc(#{-$h2Size} + #{-$h2Margin * 2} - 4rem - 4px);
                left: calc(50% - .1rem);
            }
        }
    }
}

.quarterElement:nth-of-type(2),
.quarterElement:nth-of-type(4),
.semiElement:nth-of-type(2) {
    .elementWrapper {
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: calc(50% - .1rem + 2rem);
            height: calc(15.4rem / 2 - .1rem + 2rem);
            border-right: .2rem solid $red;
            border-bottom: .2rem solid $red;
            left: -2rem;
            bottom: calc(-15.4rem / 2 - .1rem - 2rem);
        }
    }
}

.quarterElement:nth-of-type(1),
.quarterElement:nth-of-type(3),
.semiElement:nth-of-type(1) {
    .elementWrapper {
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: calc(50% - .1rem + 2rem);
            height: calc(15.4rem / 2 - .1rem + 2rem);
            border-left: .2rem solid $red;
            border-bottom: .2rem solid $red;
            left: calc(50% - .1rem);
            bottom: calc(-15.4rem / 2 - .1rem - 2rem);
        }
    }
}

.semiElement:nth-of-type(1),
.semiElement:nth-of-type(2) {
    .elementWrapper {
        &::after {
            width: calc(100% - .1rem + 4rem);
        }
    }
}

.semiElement:nth-of-type(2) {
    .elementWrapper {
        &::after {
            left: calc(-50% - .1rem - 4rem);
        }
    }
}


.semiElement,
.finalElement {
    .elementWrapper {
        position: relative;

        &::before {
            content: "";
            display: block;
            width: .2rem;
            height: calc(15.4rem / 2 + 2rem);
            background-color: $red;
            position: absolute;
            top: calc(-15.4rem / 2 - 2rem);
            left: calc(50% - .1rem);
        }
    }
}

.elementWrapper {
    background-color: #fff;
    padding: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    min-height: 17rem;
}

.contestantElement {
    color: $red;
    width: calc(75% / 2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &:not(.defeat) {
        .flag {
            -webkit-box-shadow: -4px 3px 8px 0 rgba(0, 0, 0, 0.2), -9px 8px 11px 0 rgba(0, 0, 0, 0.15);
            box-shadow: -4px 3px 8px 0 rgba(0, 0, 0, 0.2), -9px 8px 11px 0 rgba(0, 0, 0, 0.15);
        }
    }
}

.versus {
    font-family: 'brush', arial, sans-serif;
    color: $red;
    font-size: 9.5rem;
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-height: 6rem;
    padding-top: 1rem;
}

.contestantsWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.info {
    color: $grey;
    font-size: 1.7rem;
    line-height: 1.4;
    margin-top: 1rem;
}

.flag {
    width: 50%;
    height: 5rem;
    float: left;
    background: linear-gradient(45deg, $darkGrey 0%, $lightGrey 100%);
    border: .3rem solid #FFF;

}

.quarterFinals,
.semiFinals {
    margin-bottom: calc(#{$h2Size} + #{$h2Margin * 2} + 4px)
}

.semiWrapper,
.finalWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.winnersLadder {
    .semiFinals {
        h2 {
            width: calc(100% / 4);
            float: left;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }
}

@media (max-width: 1876px) {
    .info {
        font-size: 1.5rem;
    }
}

@media (max-width: 1740px) {
    .poolLadder {
        margin: 4rem 9rem;
    }
}

@media (max-width: 1600px) {
    .poolLadder {
        margin: 4rem 4rem;
    }
}

@media (max-width: 1500px) {
    .winnersLadder {
        h3 {
            font-size: 1.7rem;
        }

        h4 {
            font-size: 1.2rem;
        }
    }

    .versus {
        font-size: 7rem;
    }



    .info {
        font-size: 1.3rem;
    }

    .flag {
        height: 4rem;
    }
}


@media (max-width: 1370px) {
    .winnersLadder {

        h1 {
            font-size: 4.5rem;
        }

        h2 {
            font-size: 2.5rem;
        }
    }

    .poolElement,
    .quarterElement,
    .semiElement,
    .finalElement {
        padding: 1rem;
    }



    .poolElement {
        &:not(:nth-last-child(1)):not(:nth-last-child(2)):not(:nth-last-child(3)):not(:nth-last-child(4)) {
            .elementWrapper {
                &::after {
                    height: 2rem;
                    bottom: -2rem;
                }
            }
        }

        &:nth-last-child(1),
        &:nth-last-child(2),
        &:nth-last-child(3),
        &:nth-last-child(4) {
            .elementWrapper {
                &::after {
                    height: calc(#{$h2Size} + #{$h2Margin  * 2} + 2rem + 4px);
                    bottom: calc(#{-$h2Size} + #{-$h2Margin * 2} - 2rem - 4px);
                }
            }
        }
    }

    .quarterElement:nth-of-type(2),
    .quarterElement:nth-of-type(4),
    .semiElement:nth-of-type(2) {
        .elementWrapper {
            &::after {
                width: calc(50% - .1rem + 1rem);
                height: calc(15.4rem / 2 - .1rem + 1rem);
                left: -1rem;
                bottom: calc(-15.4rem / 2 - .1rem - 1rem);
            }
        }
    }

    .quarterElement:nth-of-type(1),
    .quarterElement:nth-of-type(3),
    .semiElement:nth-of-type(1) {
        .elementWrapper {
            &::after {
                width: calc(50% - .1rem + 1rem);
                height: calc(15.4rem / 2 - .1rem + 1rem);
                bottom: calc(-15.4rem / 2 - .1rem - 1rem);
            }
        }
    }

    .semiElement:nth-of-type(1),
    .semiElement:nth-of-type(2) {
        .elementWrapper {
            &::after {
                width: calc(100% - .1rem + 2rem);
            }
        }
    }

    .semiElement:nth-of-type(2) {
        .elementWrapper {
            &::after {
                left: calc(-50% - .1rem - 2rem);
            }
        }
    }


    .semiElement,
    .finalElement {
        .elementWrapper {
            &::before {
                height: calc(15.4rem / 2 + 1rem);
                top: calc(-15.4rem / 2 - 1rem);
            }
        }
    }
}


@media (max-width: 1290px) {
    .winnersLadder {
        h4 {
            font-size: 1rem;
        }
    }

    .info {
        font-size: 1.2rem;
    }

    .elementWrapper {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .versus {
        font-size: 6rem;
    }
}

@media (max-width: 1140px) {
    .winnersLadder {
        h1 {
            font-size: 4.2rem;
        }

        h2 {
            font-size: 2.2rem;
        }
    }

    .versus {
        font-size: 5rem;
        width: 20%;
    }

    .contestantElement {
        width: 40%;
    }

    .flag {
        height: 3.5rem;
    }

    .elementWrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .info {
        font-size: 1.1rem;
    }
}

// END OF LADDER STYLES


// TOP PLAYERS STYLES

$dark: #111;
$h2Size: 13rem;

body {
    // background-color: royalblue;
}

.topPlayersWrapper {

    color: #fff;
    max-width: 1600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;

    h2,
    h3,
    h4 {
        text-transform: uppercase;
    }

    h2 {
        font-family: "brush", arial, sans-serif;
        font-size: $h2Size;
        font-weight: 400;
        position: absolute;
        top: calc(#{-$h2Size / 2});
        margin-left: 23%;
        text-align: right;
    }

    h3 {
        font-size: 4rem;
    }

    h4 {
        color: $red;
        font-size: 2rem;
        margin-bottom: .6rem;
    }

    p {
        color: #CCC;
    }

    .red {
        color: $red;
    }

    .white {
        color: #FFF;
    }

    .shadow {
        -webkit-box-shadow: -4px 3px 8px 0 rgba(0, 0, 0, 0.2), -9px 8px 11px 0 rgba(0, 0, 0, 0.15);
        box-shadow: -4px 3px 8px 0 rgba(0, 0, 0, 0.2), -9px 8px 11px 0 rgba(0, 0, 0, 0.15);
    }

    .boxesWrapper {
        width: 100%;
        position: relative;
    }

    .boxWrapper {
        width: calc(100% / 4);
        float: left;
        padding: 2rem;
        outline: none;
    }

    .box {
        background-color: #FFF;
        padding: 8rem 0 1rem 1rem;
        overflow: hidden;
    }

    .boxWrapper.oddBox {
        h2 {
            color: $red;
        }
    }

    .boxWrapper:not(.oddBox) {
        .box {
            background-color: $red;
        }

    }

    .innerBox {
        background-color: $dark;
        position: relative;
        padding-top: calc(#{$h2Size / 2} - 1rem);
        padding-left: 2rem;
    }



    ul {
        padding-bottom: 2.5rem;
        padding-top: 2.5rem;

        li {
            text-transform: uppercase;
            font-size: 1.3rem;
            padding-top: .5rem;
            padding-bottom: .5rem;
            font-weight: 900;
        }

        li:not(:last-child) {
            border-bottom: .1rem solid #333;
        }
    }
}

ul {
    list-style: none;
}

.topPlayersWrapper {
    .slick-arrow {
        display: none;
        font-size: 0;
    }
}

@media(max-width: 1023px) {
    $h2Size: 18rem;

    .topPlayersWrapper {
        h2 {
            font-size: $h2Size;
            top: calc(#{-$h2Size / 2});
        }

        h3 {
            font-size: 5rem;
        }

        h4 {
            font-size: 3rem;
        }

        ul {
            li {
                font-size: 1.5rem;
                padding-top: .7rem;
                padding-bottom: .7rem;
            }
        }

        .box {
            max-width: 500px;
            margin: 0 auto;
            padding: 10rem 0 1rem 1rem;
        }

        .innerBox {
            padding-left: 4rem;
            padding-top: calc(#{$h2Size / 2} - 1rem);
        }

        .slick-arrow {
            display: block;
            position: absolute;
            top: 0;
            height: 100%;
            width: 20%;
            z-index: 1;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;

            &.slick-prev,
            &.slick-next {

                &::before,
                &::after {
                    content: "";
                    display: block;
                    width: .4rem;
                    height: 3rem;
                    background-color: #111;
                    position: absolute;
                }


            }

            &::before {
                top: calc(50% - 3rem + .3rem);
            }

            &::after {
                bottom: calc(50% - 3rem + .3rem);
            }


            &.slick-prev::before,
            &.slick-next::after {
                -webkit-transform: rotate(30deg);
                transform: rotate(30deg);
            }

            &.slick-prev::after,
            &.slick-next::before {
                -webkit-transform: rotate(-30deg);
                transform: rotate(-30deg);
            }

            &.slick-prev::before,
            &.slick-prev::after {
                right: 50%;

            }

            &.slick-next::before,
            &.slick-next::after {
                left: 50%;
            }

            &.slick-prev {
                left: 0;
            }

            &.slick-next {
                right: 0;
            }
        }

    }

    @media(max-width: 800px) {
        .topPlayersWrapper {
            .slick-arrow {
                width: 15%;
            }
        }
    }



}


@media(min-width: 1024px) and (max-width: 1500px) {
    .topPlayersWrapper {
        .boxWrapper {
            padding: 0.5rem;
        }
    }

    @media (min-width: 1350px) {
        .topPlayersWrapper {
            .boxWrapper {
                padding: 1rem;
            }
        }
    }

    @media(max-width: 1400px) {
        $h2Size: 12rem;

        .topPlayersWrapper {
            h2 {
                font-size: $h2Size;
                top: calc(#{-$h2Size / 2});
            }

            h3 {
                font-size: 3rem;
            }

            h4 {
                font-size: 2rem;
            }

            ul {
                li {
                    font-size: 1.2rem;
                    padding-top: .3rem;
                    padding-bottom: .3rem;
                }
            }

            .box {
                max-width: 400px;
                margin: 0 auto;
                padding: 8rem 0 1rem 1rem;
            }

            .innerBox {
                padding-left: 4rem;
                padding-top: calc(#{$h2Size / 2} - 1rem);
            }

        }

        @media(min-width: 1201px) {
            .topPlayersWrapper {
                h2 {
                    margin-left: 15%;
                }
            }
        }
    }

    @media(max-width: 1200px) {
        $h2Size: 10rem;

        .topPlayersWrapper {
            h2 {
                font-size: $h2Size;
                top: calc(#{-$h2Size / 2});
            }

            h3 {
                font-size: 2.5rem;
            }

            h4 {
                font-size: 1.5rem;
            }

            ul {
                li {
                    font-size: 1.1rem;
                    padding-top: .3rem;
                    padding-bottom: .3rem;
                }
            }

            .box {
                max-width: 400px;
                margin: 0 auto;
                padding: 6rem 0 1rem 1rem;
            }

            .innerBox {
                padding-left: 2rem;
                padding-top: calc(#{$h2Size / 2} - 1rem);
            }

        }
    }
}

@media (max-width: 649px) {
    .topPlayersWrapper {
        .slick-arrow {
            display: none !important;
        }
    }
}


@media(orientation: landscape) {
    @media (max-height: 600px) and (max-width: 1023px) {
        $h2Size: 15rem;

        .topPlayersWrapper {
            h2 {
                font-size: $h2Size;
                top: calc(#{-$h2Size / 2});
            }

            h3 {
                font-size: 4rem;
            }

            h4 {
                font-size: 2rem;
            }

            ul {
                li {
                    font-size: 1.3rem;
                    padding-top: .3rem;
                    padding-bottom: .3rem;
                }
            }

            .box {
                max-width: 400px;
                margin: 0 auto;
                padding: 8rem 0 1rem 1rem;
            }

            .innerBox {
                padding-left: 4rem;
                padding-top: calc(#{$h2Size / 2} - 1rem);
            }

        }
    }

    @media (max-height: 450px) and (max-width: 1023px) {
        $h2Size: 10rem;

        .topPlayersWrapper {
            h2 {
                font-size: $h2Size;
                top: calc(#{-$h2Size / 2});
                margin-left: 30%;
            }

            h3 {
                font-size: 2.5rem;
            }

            h4 {
                font-size: 1.5rem;
            }

            ul {
                padding-bottom: 2rem;
                padding-top: 2rem;

                li {
                    font-size: 1.3rem;
                    padding-top: .3rem;
                    padding-bottom: .3rem;
                }
            }

            .box {
                max-width: 350px;
                margin: 0 auto;
                padding: 5rem 0 1rem 1rem;
            }

            .innerBox {
                padding-left: 4rem;
                padding-top: calc(#{$h2Size / 2} - 2rem);
            }

            .boxWrapper {
                padding: 0.5rem;
            }

        }
    }

    @media (max-height: 340px) and (min-width: 1024px) {
        .topPlayersWrapper {
            .box {
                padding: 5rem 0 1rem 1rem;
            }
        }
    }
}


@media(orientation: portrait) {
    @media(max-width: 540px) {
        $h2Size: 16.5rem;

        .topPlayersWrapper {
            h2 {
                font-size: $h2Size;
                top: calc(#{-$h2Size / 2});
                margin-left: 20%;
            }

            h3 {
                font-size: 4rem;
            }

            h4 {
                font-size: 2.5rem;
            }

            .box {
                padding: 9rem 0 1rem 1rem;
            }

            .innerBox {
                padding-left: 3rem;
            }
        }
    }

    @media(max-width: 400px) {
        $h2Size: 15rem;

        .topPlayersWrapper {
            h2 {
                font-size: $h2Size;
                top: calc(#{-$h2Size / 2});
                margin-left: 20%;
            }

            h3 {
                font-size: 3rem;
            }

            h4 {
                font-size: 2rem;
            }

            ul {
                li {
                    font-size: 1.2rem;
                    padding-top: .5rem;
                    padding-bottom: .5rem;
                }
            }

            .box {
                padding: 8rem 0 1rem 1rem;
            }

            .innerBox {
                padding-left: 2rem;
                padding-top: calc(#{$h2Size / 2} - 1rem);
            }
        }
    }

    @media (min-width: 1024px) {
        $h2Size: 16rem;

        .topPlayersWrapper {
            .boxesWrapper {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }

            .boxWrapper {
                width: calc(100% / 2);
                padding: 2rem;
                max-width: 460px;
            }

            .box {
                max-width: initial;
                padding: 8rem 0 1rem 1rem;
            }

            h2 {
                font-size: $h2Size;
                top: calc(#{-$h2Size / 2});
                margin-left: 20%;
            }

            h3 {
                font-size: 4rem;
            }

            h4 {
                font-size: 3rem;
            }

            ul {
                li {
                    font-size: 1.7rem;
                    padding-top: .5rem;
                    padding-bottom: .5rem;
                }
            }

            .innerBox {
                padding-left: 2rem;
                padding-top: calc(#{$h2Size / 2} - 1rem);
            }
        }

        @media (min-width: 1380px) {
            $h2Size: 18rem;

            .topPlayersWrapper {
                .boxWrapper {
                    max-width: 500px;
                    margin: 2rem;
                }

                .box {
                    padding: 10rem 0 1rem 1rem;
                }

                h2 {
                    font-size: $h2Size;
                    top: calc(#{-$h2Size / 2});
                    margin-left: 20%;
                }

                h3 {
                    font-size: 5rem;
                }

                h4 {
                    font-size: 4rem;
                }

                ul {
                    li {
                        font-size: 1.9rem;
                        padding-top: .5rem;
                        padding-bottom: .5rem;
                    }
                }
            }
        }
    }
}

// END OF TOP PLAYERS STYLES



// FLAT ARRAY STYLES
.flatArray {
    background: linear-gradient(45deg, #ecca9d, #e198a9);
}

.flatWrapper {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    h1 {
        font-family: "brush", arial, sans-serif;
        color: #FFF;
        background: #282d35;
        font-weight: 400;
        font-size: 5rem;
        padding: 1.5rem 1rem;
        text-align: center;
    }

    .flatContentWrapper {
        background: #353d49;
        border-radius: .5rem;
        overflow: hidden;
        min-height: 200px;
        width: 500px;
    }

    .flatInnerWrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        margin: 3rem 0;
    }

    .flatInput,
    .flatButton {
        width: 80%;
        margin: 1rem 0;
    }
}

.flatInput {
    background: #626d7d;
    border: none;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 2rem;
    min-height: 4.3rem;

    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #ccc;
    }

    &::-moz-placeholder {
        /* Firefox 19+ */
        color: #ccc;
    }

    &:-ms-input-placeholder {
        /* IE 10+ */
        color: #ccc;
    }

    &:-moz-placeholder {
        /* Firefox 18- */
        color: #ccc;
    }
}


.flatButton {
    background-color: #00bb8e;
    border: none;
    color: #fff;
    padding: 1rem 2rem;
    // border-radius: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
}

.btn-5 {
    border: 1px solid transparent;
    -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
    border: 1px solid;
    -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

@media (max-width: 500px) {
    .flatWrapper {
        h1 {
            font-size: 3rem;
        }
    }
}

// FLAT ARRAY STYLES


//MENU
nav {
    // width: 30rem;
    // height: 30rem;
    // position: fixed;
    // bottom: 0;
    // right: 0;
    // bottom: -10rem;
    // right: -10rem;
    // background-color: rgba(53, 61, 73, 0.9);
    // border-radius: 50%;

}

.menu {



    .hamburger {
        position: fixed;
        width: 5rem;
        height: 5rem;
        background-color: #00bb8e;
        color: #fff;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        bottom: 4rem;
        right: 4rem;
        -webkit-box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0);
        -webkit-transition: .5s;
        transition: .5s;
        cursor: pointer;
        z-index: 1;

        i {
            font-size: 2.5rem;
        }
    }

    .menuOpened {
        -webkit-box-shadow: 0 0px 0px 10rem rgba(0, 0, 0, 0.7);
        box-shadow: 0 0px 0px 10rem rgba(0, 0, 0, 0.7);
    }

    ul {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 1;

        li {
            display: none;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        a {
            text-decoration: none;
            color: #FFF;
            width: 35px;
            height: 35px;
            background: #626d7d;
            border-radius: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            color: #FFF;
            font-size: 1.5rem;
            font-weight: 900;
        }

        .active {
            a {
                color: #00bb8e;
                background-color: #fff;
            }

        }

        li:nth-of-type(1) {
            right: 12rem;
            bottom: 4rem;
        }

        li:nth-of-type(2) {
            right: 10rem;
            bottom: 10rem;
        }

        li:nth-of-type(3) {
            right: 4rem;
            bottom: 12rem;
        }
    }

}

//END OF MENU